@media only screen and (min-width: 32.5em){
   h1 {
       font-size: 40px;
   }
    header {
        display: flex;
        padding: 15px;
        background-color: #da9bfa;
        border: 2px solid #da9bfa;
        border-radius: 20px;
        box-shadow: 5px 10px 30px #888888;
    }
    h1 {
        font-size: 30px;
    }
    #selfPortrait {
        padding: 20px;
        float: left;
        width: 120px;
        height: auto;
    }
    #name {
        padding: 20px;
        float: right;
        line-height: 30px;
    }
    footer {
        display: grid;
        padding: 15px;
        background-color: #da9bfa;
        border: 2px solid #da9bfa;
        border-radius: 20px;
        text-align: center;
        box-shadow: 5px 10px 30px #888888;
    }
}