/*This stylesheet is for the Assignment Portal*/
body {
    margin: auto;
    max-width: 1000px;
}
header {
    display: grid;
    padding: 8px;
    background-color: #da9bfa;
    border: 2px solid #da9bfa;
    border-radius: 10px;
    box-shadow: 5px 10px 30px #888888;
}
h1 {
    font-size: 20px;
}
#selfPortrait {
    box-align: center;
    padding: 20px;
    width: 120px;
    height: auto;
}
#name {
    padding: 20px;
    line-height: 10px;
}
footer {
    display: grid;
    padding: 8px;
    background-color: #da9bfa;
    border: 2px solid #da9bfa;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px 30px #888888;
}
